# Django
django==4.0.4
mysqlclient==2.0.3
djangorestframework==3.12.4
django-cors-headers==3.10.1
django-simpleui==2022.1
django-duration-log==0.0.3

# Storage
redis==4.0.2

# Celery
celery==5.2.2

# Server
uwsgi==2.0.20

# INCV_API
incv-client==0.0.5

# OpenTracing
opentelemetry-api==1.11.1
opentelemetry-sdk==1.11.1
opentelemetry-exporter-jaeger==1.11.1
opentelemetry-instrumentation-django==0.30b1
opentelemetry-instrumentation-wsgi==0.30b1
