# Django
django==4.1.7
mysqlclient==2.0.3
djangorestframework==3.12.4
django-cors-headers==3.10.1
django-simpleui==2022.1

# Storage
redis==4.0.2

# Celery
celery==5.2.2

# Server
uwsgi==2.0.20

# INCV_API
incv-client==0.0.5
