.head-box {
    background: url("https://cdn.wallpaperhub.app/cloudcache/f/c/8/1/6/7/fc8167ee67ba181fe0fa6bbe04598358a38e28a1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    min-height: 240px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    font-size: 32px;
    color: white;
    letter-spacing: 4px;
    font-weight: bold;
}

.main-box {
    max-width: 1440px;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;
}

.main-box .el-button {
    margin-left: 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.admin-header-select {
    width: 240px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.admin-header-select2 {
    width: 120px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.admin-header-select2 :deep(.el-input__inner) {
    border: unset;
}

.admin-header-select :deep(.el-select-v2__wrapper) {
    border: unset;
}

.admin-container-box {
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.admin-container-box .el-aside .el-menu {
    height: 100%;
}

.admin-container-box .el-aside .el-menu :deep(.el-menu-item) {
    height: 48px;
    line-height: 48px;
}

.admin-container-box .el-aside .el-menu :deep(.el-menu-item.is-active) {
    background: #79bbff;
    color: white;
}

.admin-container-box .el-main {
    padding: 20px;
}

:deep(.delete-dialog) .el-dialog__body {
    padding: 0 20px 20px 20px;
}
