:root {
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #409eff;
    --el-color-primary-light-1: #53a8ff;
    --el-color-primary-light-2: #66b1ff;
    --el-color-primary-light-3: #79bbff;
    --el-color-primary-light-4: #8cc5ff;
    --el-color-primary-light-5: #a0cfff;
    --el-color-primary-light-6: #b3d8ff;
    --el-color-primary-light-7: #c6e2ff;
    --el-color-primary-light-8: #d9ecff;
    --el-color-primary-light-9: #ecf5ff;
    --el-color-success: #67c23a;
    --el-color-success-light: #e1f3d8;
    --el-color-success-lighter: #f0f9eb;
    --el-color-warning: #e6a23c;
    --el-color-warning-light: #faecd8;
    --el-color-warning-lighter: #fdf6ec;
    --el-color-danger: #f56c6c;
    --el-color-danger-light: #fde2e2;
    --el-color-danger-lighter: #fef0f0;
    --el-color-error: #f56c6c;
    --el-color-error-light: #fde2e2;
    --el-color-error-lighter: #fef0f0;
    --el-color-info: #909399;
    --el-color-info-light: #e9e9eb;
    --el-color-info-lighter: #f4f4f5;
    --el-bg-color: #f5f7fa;
    --u-bg-color-next: #c3cfe2;
    --u-bg-color-login: rgba(255, 255, 255, 0.8);
    --u-bg-color-repo-public: #C3E0C3;
    --u-bg-color-repo-private: #E3D3C4;
    --el-border-width-base: 1px;
    --el-border-style-base: solid;
    --el-border-color-hover: var(--el-text-color-placeholder);
    --el-border-base: var(--el-border-width-base) var(--el-border-style-base) var(--el-border-color-base);
    --el-svg-monochrome-grey: #dcdde0;
    --el-fill-base: var(--el-color-white);
    --el-font-size-extra-large: 20px;
    --el-font-size-large: 18px;
    --el-font-size-medium: 16px;
    --el-font-size-base: 14px;
    --el-font-size-small: 13px;
    --el-font-size-extra-small: 12px;
    --el-font-weight-primary: 500;
    --el-font-line-height-primary: 24px;
    --el-text-color-disabled-base: #bbb;
    --el-index-normal: 1;
    --el-index-top: 1000;
    --el-index-popper: 2000;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #CCD0D9;
    --el-border-color-base: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --u-border-color-header: #e6e6e6;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-radius-base: 4px;
    --el-border-radius-small: 2px;
    --el-border-radius-round: 20px;
    --el-border-radius-circle: 100%;
    --el-box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    --el-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    --el-disabled-bg-color: var(--el-bg-color);
    --el-disabled-text-color: var(--el-text-color-placeholder);
    --el-disabled-border-color: var(--el-border-color-light);
    --el-transition-duration: 0.3s;
    --el-transition-duration-fast: 0.2s;
    --el-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
    --el-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
    --el-transition-all: all var(--el-transition-duration) var(--el-transition-function-ease-in-out-bezier);
    --el-transition-fade: opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
    --el-transition-md-fade: transform var(--el-transition-duration) var(--el-transition-function-fast-bezier), opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
    --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
    --el-transition-border: border-color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
    --el-transition-color: color var(--el-transition-duration-fast) var(--el-transition-function-ease-in-out-bezier);
}

#gtx-trans {
    top: 0!important;
    left: 0!important;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--el-text-color-regular);
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
}

*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: var(--el-border-color-light);
}

*::-webkit-scrollbar-thumb {
    background: var(--el-color-primary-light-3);
}

.el-scrollbar__thumb {
    cursor: unset!important;
}

.el-scrollbar__bar.is-vertical {
    background: var(--el-border-color-light)!important;
    border-radius: 0!important;
    right: 0!important;
    top: 0!important;
    bottom: 0!important;
}

.el-scrollbar__bar.is-vertical>div {
    border-radius: 0!important;
    background: var(--el-color-primary-light-3)!important;
}

.el-scrollbar {
    --el-scrollbar-opacity: 1!important;
}

.mg-20-left-right {
    margin: 0 20px;
}

.h-center {
    display: flex;
    align-items: center;
}

.h-100 {
    height: 100%;
}

.v-center {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 380px) {
    .el-message {
        width: 320px!important;
        min-width: unset!important;
    }
}

@media screen and (max-width: 320px) {
    .el-message {
        width: 300px!important;
        min-width: unset!important;
    }
}

.app-container {
    height: 100%;
    width: 100%;
}

.app-container > .el-main {
    height: calc(100% - 61px);
    padding: 0;
    z-index: -1;
}

@media screen and (max-width: 1099px) {
    .app-container > .el-main {
        height: 100%;
        padding: 0;
        z-index: -1;
    }
    .el-pagination__total {
        display: none!important;
    }
    .el-pagination__jump {
        display: none!important;
    }
}

.vuepress-markdown-body ol, .vuepress-markdown-body ul {
    padding-left: 24px!important;
}

ul, ol {
    padding-left: 20px;
}

.v-md-editor-preview p,
.v-md-editor-preview .v-md-editor__todo-list-item,
td,
th,
li,
svg div {
    font-size: 14px;
}

.v-md-editor-preview .v-md-editor__todo-list-checkbox {
    margin-left: 1px;
}

.home-select-popper {
    border: unset!important;
    border-radius: 5px!important;
}

.el-menu-demo {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.el-menu-demo .right-bar {
    display: flex;
}

.el-menu-demo .right-bar .locale {
    margin-right: 20px;
}

.el-menu-demo .right-bar .locale .fa-globe {
    color: unset;
}

.el-menu-demo .right-bar .el-link .el-link--inner {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.el-menu-demo .right-bar .locale i {
    margin-right: 6px;
    margin-top: 2px;
}

.el-menu-demo .menu {
    display: flex;
}

.user-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu-home-item,
.header-menu-home {
    display: flex;
    text-decoration: none;
    text-underline: none;
    align-items: center;
}

.header-menu-home {
    margin-right: 20px;
}

.header-menu-home :deep(.el-link--inner) {
    display: flex;
}

.header-menu-home-title {
    margin: 0;
    color: var(--el-text-color-primary);
    text-decoration: none;
    text-underline: none;
}

.scrollbar__bar.is-vertical {
    top: 0;
    right: 0;
}

.el-menu--horizontal {
    border-bottom: unset!important;
}

.app-header {
    border-bottom: 1px solid var(--u-border-color-header);
}

.el-card {
    border: unset!important;
}

.el-menu-demo .version .el-link--inner {
    margin-right: 20px;
    margin-top: 2px;
}

.small-screen {
    background-image: linear-gradient(45deg, var(--el-bg-color) 0%, var(--u-bg-color-next) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: var(--el-color-white);
    font-weight: bold;
}

.vuepress-markdown-body i {
    font-style: unset!important;
}

.vuepress-markdown-body ol, .vuepress-markdown-body ul {
    margin: 0!important;
}

.vuepress-markdown-body ol ::marker,
.vuepress-markdown-body ul ::marker {
    font-weight: bold;
}

.vuepress-markdown-body ol, .vuepress-markdown-body p, .vuepress-markdown-body ul {
    line-height: 2!important;
}

.fa-solid {
    color: var(--el-text-color-regular);
}

@media screen and (max-width: 419px) {
    .vuepress-markdown-body div {
        margin: unset!important;
        border-radius: 6px!important;
    }
}

.logout-button .fa-solid {
    margin-right: 6px;
    margin-top: 2px;
    color: unset;
}
