* {
    font-family: menlo,Ubuntu Mono,consolas,Courier New,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}

#gtx-trans {
    top: 0!important;
    left: 0!important;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #606266;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
}

*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: #E4E7ED;
}

*::-webkit-scrollbar-thumb {
    background: #79bbff;
}

.el-scrollbar__thumb {
    cursor: unset!important;
}

.el-scrollbar__bar.is-vertical {
    background: #E4E7ED!important;
    border-radius: 0!important;
    right: 0!important;
    top: 0!important;
    bottom: 0!important;
}

.el-scrollbar__bar.is-vertical>div {
    border-radius: 0!important;
    background: #79bbff!important;
}

.el-scrollbar {
    --el-scrollbar-opacity: 1!important;
}

.mg-20-left-right {
    margin: 0 20px;
}

.h-center {
    display: flex;
    align-items: center;
}

.h-100 {
    height: 100%;
}

.v-center {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 380px) {
    .el-message {
        width: 320px!important;
        min-width: unset!important;
    }
}

@media screen and (max-width: 320px) {
    .el-message {
        width: 300px!important;
        min-width: unset!important;
    }
}

.app-container {
    height: 100%;
    width: 100%;
}

ul {
    padding-left: 20px;
}

.v-md-editor-preview p {
    font-size: 14px;
}

.v-md-editor-preview .v-md-editor__todo-list-item {
    font-size: 14px;
}

.v-md-editor-preview .v-md-editor__todo-list-checkbox {
    margin-left: 1px;
}

.home-select-popper {
    border: unset!important;
    border-radius: 5px!important;
}

.el-menu-demo {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
}

.el-menu-demo .right-bar {
    display: flex;
}

.el-menu-demo .right-bar .locale {
    margin-right: 20px;
}

.el-menu-demo .right-bar .el-link .el-link--inner {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.el-menu-demo .right-bar .locale i {
    margin-right: 6px;
    margin-top: 2px;
}

.el-menu-demo .menu {
    display: flex;
}

.user-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu-home-item,
.header-menu-home {
    display: flex;
    text-decoration: none;
    text-underline: none;
    align-items: center;
}

.header-menu-home {
    margin-right: 20px;
}

.header-menu-home :deep(.el-link--inner) {
    display: flex;
}

.header-menu-home-title {
    margin: 0;
    color: #303133;
    text-decoration: none;
    text-underline: none;
}

.scrollbar__bar.is-vertical {
    top: 0;
    right: 0;
}

.el-menu--horizontal {
    border-bottom: unset!important;
}

.app-header {
    border-bottom: 1px solid #e6e6e6;
}

.el-card {
    border: unset!important;
}

.small-screen {
    background-image: linear-gradient(45deg, #f5f7fa 0%, #c3cfe2 100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
    font-weight: bold;
}

td,
li {
    font-size: 14px;
}

.vuepress-markdown-body i {
    font-style: unset!important;
}
