.register-notice {
    text-align: right;
    line-height: 24px;
    margin-bottom: -10px;
    color: var(--el-color-info);
}

.oneline-code-button-box :deep(.el-form-item__content) {
    display: flex;
}
