.head-box {
    background: url("/extra-assests/imgs/bg-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    min-height: 240px;
    max-height: 600px;
    display: flex;
    align-items: center;
}

.box-container {
    max-width: 1440px;
    margin: -200px auto 0;
    padding: 40px;
    box-sizing: border-box;
}

.content-box {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 0 40px 40px 40px;
    box-sizing: border-box;
}

.content-box .el-main {
    padding: 0 20px 0 0;
    overflow: unset;
}

.content-box .el-aside {
    overflow: unset;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
    box-shadow: var(--el-box-shadow-light);
}

.search-bar .el-input {
    border: unset;
    border-radius: 5px;
    width: 100%;
}

.search-bar .el-input :deep(.el-input__inner) {
    border: unset;
}

.search-bar .el-button {
    border: unset;
}
